// SCSS Variables
$color-blue-dark: #040c18;
$color-blue-medium: #042c54;

$color-orange: #f49867;
$color-purple: #ae67fa;
$color-red: #fd4821;
$color-white: #ffffff;

$main-gradient: linear-gradient(to right, #ae67fa, #f49867);

$color-blue-blur-hero: #002853;
$color-blue-blur-myprogrammingskills: #0f4279;
$color-blue-blur-default: #07325f;
$color-blue-light: #81afdd;
$color-blue-cool: #71e5ff;

// Font Sizes
$fontsize-copyright-12px: 0.75rem;
$fontsize-text-14px: 0.875rem;
$fontsize-text-16px: 1rem;
$fontsize-text-18px: 1.125rem;
$fontsize-hero-btntext-20px: 1.25rem;
$fontsize-portfolio-h3-25px: 1.569375rem;
$fontsize-h2-34px: 2.125rem;
$fontsize-h1-62px: 3.875rem;
