---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alex Boczek - GDPR Informations" description='Alex Boczek Fullstack JavaScript TypeScript developer portfolio. Here you can find work experience, portfolio, GitHub profile and contact to Alex Boczek'>
	<h1>GDPR info goes here</h1>
</Layout>

<style lang="scss">

</style>
