---

---

<section class="cover-letter">
  <div class="cover-letter__left">
    <img
      class="cover-letter__left-img"
      src="/why_me.webp"
      alt="Cover letter image"
    />
  </div>
  <div class="cover-letter__right">
    <span class="cover-letter__right-litletext">Cover Letter</span>
    <h2 class="cover-letter__right-h2">Why you should hire me?</h2>
    <p class="cover-letter__right-text">
      Yet bed any for travelling assistance indulgence unpleasing. Not thoughts
      all exercise blessing. Indulgence way everything joy alteration boisterous
      the attachment. Party we years to order allow asked of.
    </p>
    <p class="cover-letter__right-text-color">
      Programming is my passion, and every day I strive to learn something new.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .cover-letter {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      &-img {
      }
    }

    &__right {
      width: 34.375rem; // 550px

      &-littletext {
      }

      &-h2 {
      }

      &-text {
      }

      &-text-color {
        color: $color-orange;
      }
    }
  }
</style>
