---

---

<section class="cover-letter" id="why-me">
  <div class="cover-letter__left">
    <img
      class="cover-letter__left-img"
      src="/why_me.webp"
      alt="Cover letter image"
    />
  </div>
  <div class="cover-letter__right">
    <span class="cover-letter__right-littletext">Cover Letter</span>
    <h2 class="cover-letter__right-h2">Why you should hire me?</h2>
    <p class="cover-letter__right-text">
      Yet bed any for travelling assistance indulgence unpleasing. Not thoughts
      all exercise blessing. Indulgence way everything joy alteration boisterous
      the attachment. Party we years to order allow asked of.
    </p>
    <p class="cover-letter__right-text-color">
      Programming is my passion, and every day I strive to learn something new.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .cover-letter {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.375rem; // 100px;

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 3.125rem;
    }

    &__left {
      &-img {
        @media (max-width: 1024px) {
        }
      }
    }

    &__right {
      width: 34.375rem; // 550px

      @media (max-width: 620px) {
        width: 100%;
        text-align: center;
        padding: 0 10px;
      }

      &-littletext {
        font-size: $fontsize-text-16px;
        color: $color-blue-cool;
        font-weight: 500;
      }

      &-h2 {
        font-weight: 800;
        height: 100%;
        font-size: $fontsize-h2-34px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-text {
        font-size: $fontsize-text-16px;
        font-weight: 400;
        line-height: 1.875rem; // 30px
        color: $color-blue-light;
      }

      &-text-color {
        color: $color-orange;
        font-size: $fontsize-text-16px;
        font-weight: 500;
      }
    }
  }
</style>
