---

---

<section class="experience" id="work-experience">
  <img src="/blur/blur_hero.png" alt="blur effect" class="experience__blur" />
  <div class="experience__left">
    <h2 class="experience__left-h2">
      More than 3 years of programming experience.
    </h2>
    <h2 class="experience__left-h2">
      14 months of commercial experience working with clients (JS + PHP).
    </h2>
  </div>
  <div class="experience__right">
    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>

    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>

    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .experience {
    max-width: 1440px;
    width: 100%;
    margin: 9.375rem 0; // 150px
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .experience__blur {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 50%;
      height: 151.4rem;
      width: 100%;
      transform: translate(-50%, -50%) rotate(180deg);
    }

    &__left {
      margin-left: 8.4375rem;
      &-h2 {
        font-weight: 800;
        font-size: $fontsize-h2-34px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 426px;

        &:last-of-type {
          margin-top: 6.25rem; // 100px
        }
      }
    }

    &__right {
      margin-right: 8.4375rem;
      &-single-container {
        display: flex;
        margin-top: 1rem;
        .experience__right-left {
          .experience__right-visualline {
            background: $main-gradient;
            width: 2.375rem; // 38px
            height: 3px;
          }

          .experience__right-h4 {
            width: 7.125rem; // 114px
            line-height: 1.5rem; // 24px
            &-color {
              color: $color-orange;
            }
          }
        }

        .experience__right-right {
          margin-left: 100px;
          .experience__right-text {
            color: $color-blue-light;
            font-weight: 500;
            font-size: $fontsize-text-14px;
            width: 20.875rem; // 334px
          }
        }
      }
    }
  }
</style>
