---

---

<section class="experience">
  <div class="experience__left">
    <h2 class="experience__left-h2">
      More than 3 years of programming experience.
    </h2>
    <h2 class="experience__left-h2">
      14 months of commercial experience working with clients (JS + PHP).
    </h2>
  </div>
  <div class="experience__right">
    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>

    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>

    <div class="experience__right-single-container">
      <div class="experience__right-left">
        <div class="experience__right-visualline"></div>
        <h4 class="experience__right-h4">
          Learning programming <span class="experience__right-h4-color"
            >(1 year)</span
          >
        </h4>
      </div>
      <div class="experience__right-right">
        <p class="experience__right-text">
          From they fine john he give of rich he. They age and draw mrs like.
          Improving end distrusts may instantly was household applauded.
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .experience {
    max-width: 1170px;
    width: 100%;
    margin-top: 9.375rem; // 150px
    display: flex;

    &__left {
      &-h2 {
        font-weight: 800;
        font-size: $fontsize-h2-34px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 426px;
      }
    }

    &__right {
      &-single-container {
        display: flex;
        .experience__right-left {
          .experience__right-visualline {
            background: $main-gradient;
            width: 2.375rem; // 38px
            height: 3px;
          }

          .experience__right-h4 {
            &-color {
              color: $color-orange;
            }
          }
        }

        .experience__right-right {
          .experience__right-text {
          }
        }
      }
    }
  }
</style>
