---
// Get current year for footer copyright
let currentYear = new Date().getFullYear();
---

<footer class="footer">
  <!-- Add blur effect in Footer section -->
  <img
    src="/blur/skills_up_left.png"
    alt="blur effect"
    class="skills__blur-left-top"
  />
  <img
    src="/blur/skills_down_right.png"
    alt="blur effect"
    class="skills__blur-right-down"
  />

  <h2 class="footer__h2">Check me on GitHub</h2>
  <a class="footer__link" href="https://github.com/alex2323official"
    >github.com/alex2323official</a
  >
  <div class="footer__contact-container">
    <a href="mailto:kontakt@alexboczek.pl" class="footer__contact-email"
      >E-mail: kontakt@alexboczek.pl</a
    >
    <a href="tel:+48720432964" class="footer__contact-phone"
      >Phone: +48 720-432-964</a
    >
  </div>
  <p class="footer__copy">
    © {currentYear}. Coded by Alex Boczek. All rights reserved.
  </p>
</footer>

<style lang="scss">
  // SCSS Variables
  @import "../styles/variables.scss";
  .footer {
    max-width: 1170px;
    width: 100%;
    height: 45.3125rem; // 725px;
    background-color: $color-blue-footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    .skills__blur-left-top {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 125rem; // 2000px;
      height: 43.75rem; // 700px;
      opacity: 0.3;
    }

    .skills__blur-right-down {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      height: 56.25rem; // 900px;
      width: 125rem; // 2000px;
      opacity: 0.3;
    }

    .footer__h2 {
      font-size: $fontsize-h1-62px;
      background: $main-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 75px;
    }

    .footer__link {
      color: $color-white;
      text-decoration: none;
      font-weight: 400;
      font-size: $fontsize-text-18px;

      padding: 22px 30px;
      border: 1px solid transparent; /* Set a transparent border */
      border-radius: 0px;
      border-image: linear-gradient(to right, $color-purple, $color-orange) 1;
      width: 300px;
      background: transparent;

      margin-top: 2.5rem; // 40px;
      margin-bottom: 3.75rem; // 60px;
      z-index: 99;

      &:hover {
        background: $main-gradient;
      }
    }

    .footer__contact-container {
      display: flex;
      flex-direction: column;

      z-index: 99;

      .footer__contact-email {
        color: $color-orange;
        text-decoration: none;
        font-size: $fontsize-hero-btntext-20px;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: $color-white;
        }
      }

      .footer__contact-phone {
        color: $color-orange;
        text-decoration: none;
        font-size: $fontsize-hero-btntext-20px;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: $color-white;
        }
      }
    }

    .footer__copy {
      margin-top: 9.375rem; // 150px;
      font-size: $fontsize-copyright-12px;
    }
  }
</style>
