---
const navLinks = [
  {
    title: "Home",
    url: "#home",
  },
  {
    title: "My Skills",
    url: "#my-skills",
  },
  {
    title: "Work Experience",
    url: "#work-experience",
  },
  {
    title: "Why me?",
    url: "#why-me",
  },
  {
    title: "Portfolio",
    url: "#portfolio",
  },
  {
    title: "Contact",
    url: "#contact",
  },
  {
    title: "GitHub",
    url: "https://github.com/alex2323official",
  },
];
---

<!-- Header Desktop -->
<header class="header-desktop">
  <div class="header__container">
    <p class="header__logo">Alex Boczek</p>
    <nav class="header__nav">
      <ul class="header__nav-ul">
        {
          navLinks.map((item) => (
            <li class="header__nav-li">
              <a class="header__nav-a" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<!-- Header Mobile -->
<header class="header-mobile">
  <div id="hamburger-switch" class="header-mobile__hamburger">
    <!-- Open SVG -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
      id="opensvg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
    <!-- Close SVG -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
      id="closesvg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"></path>
    </svg>
  </div>

  <div id="hamburger-menu" class="header-mobile__container">
    <p class="header-mobile__logo">Alex Boczek</p>
    <nav class="header-mobile__nav">
      <ul class="header-mobile__nav-ul">
        {
          navLinks.map((item) => (
            <li class="header-mobile__nav-li">
              <a class="header-mobile__nav-a" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  @import "../styles/variables.scss";

  // Header Mobile
  .header-mobile {
    display: none;
    width: 100%;
    z-index: 1000;
    @media (max-width: 1024px) {
      display: flex;
    }

    .header-mobile__hamburger {
      position: fixed;
      z-index: 1000;
      right: 1rem;
      top: 1rem;

      svg {
        height: 3rem;
        width: 3rem;
        color: $color-purple;
        // background-color: white;

        &:hover {
          color: $color-orange;
          cursor: pointer;
        }
      }
    }

    &__container {
      background-color: $color-blue-medium;
      width: 100vw;
      height: 100vh;
      position: fixed;
      display: none;
      z-index: 800;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .header-mobile__logo {
        font-size: $fontsize-h2-34px;
        font-weight: 800;
        text-transform: uppercase;
      }
      .header-mobile__nav {
        ul {
          list-style: none;
          li {
            margin-top: 1rem;
            a {
              color: $color-white;
              font-size: $fontsize-h2-34px;
              font-weight: 500;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // Header Desktop
  .header-desktop {
    max-width: 1170px;
    width: 100%;
    margin-top: 3.125rem; // 50px

    @media (max-width: 1024px) {
      display: none;
    }

    .header__container {
      display: flex;
      align-items: center;
      .header__logo {
        font-size: $fontsize-text-18px;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
      }
      .header__nav {
        .header__nav-ul {
          display: flex;
          align-items: center;
          list-style: none;
          .header__nav-li {
            margin-right: 2.5rem;
            .header__nav-a {
              color: $color-white;
              font-size: $fontsize-text-18px;
              font-weight: 500;
              text-decoration: none;
            }

            .header__nav-a:last-of-type {
              color: $color-white;
            }
            .header__nav-a:hover {
              text-decoration: underline;
            }
          }
          .header__nav-li:last-of-type {
            margin-right: 0rem;

            padding: 15px 30px;
            border: 1px solid transparent; /* Set a transparent border */
            border-radius: 0px;
            border-image: linear-gradient(
                to right,
                $color-purple,
                $color-orange
              )
              1;

            &:hover {
              background: $main-gradient;
            }
          }
        }
      }
    }
  }
</style>

<script>
  //  Add to GitHub link taget="_blank" with JS
  const gitHubLink = document.querySelector(".header__nav-li:last-of-type a");
  gitHubLink.setAttribute("target", "_blank");

  // Hambuger menu
  const hamburgerSwitcher = document.querySelector("#hamburger-switch");
  const hamburgerMenu = document.querySelector(".header-mobile__container");
  const openSvg = document.querySelector("#opensvg");
  const closeSvg = document.querySelector("#closesvg");

  hamburgerMenu.style.display = "none";
  closeSvg.style.display = "none";

  hamburgerSwitcher.addEventListener("click", (event) => {
    if (hamburgerMenu.style.display === "none") {
      hamburgerMenu.style.display = "flex";
      closeSvg.style.display = "block";
      openSvg.style.display = "none";
    } else {
      hamburgerMenu.style.display = "none";
      closeSvg.style.display = "none";
      openSvg.style.display = "block";
    }
  });

  //  Action after clicking link in Hamburger menu
  // just close it
  const hambugerMenuUl = document.querySelector(".header-mobile__nav-ul");

  hambugerMenuUl.addEventListener("click", (event) => {
    hamburgerMenu.style.display = "none";
    closeSvg.style.display = "none";
    openSvg.style.display = "block";
  });
</script>
