---
const navLinks = [
  {
    title: "Home",
    url: "#home",
  },
  {
    title: "My Skills",
    url: "#my-skills",
  },
  {
    title: "Work Experience",
    url: "#work-experience",
  },
  {
    title: "Why me?",
    url: "#why-me",
  },
  {
    title: "Portfolio",
    url: "#portfolio",
  },
  {
    title: "Contact",
    url: "#contact",
  },
  {
    title: "GitHub",
    url: "#github",
  },
];
---

<header>
  <div class="header__container">
    <p class="header__logo">Alex Boczek</p>
    <nav class="header__nav">
      <ul class="header__nav-ul">
        {
          navLinks.map((item) => (
            <li class="header__nav-li">
              <a class="header__nav-a" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  @import "../styles/variables.scss";
  header {
    max-width: 1170px;
    width: 100%;
    .header__container {
      display: flex;
      align-items: center;
      .header__logo {
        font-size: $fontsize-text-18px;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
      }
      .header__nav {
        .header__nav-ul {
          display: flex;
          align-items: center;
          list-style: none;
          .header__nav-li {
            margin-right: 2.5rem;
            .header__nav-a {
              color: $color-white;
              font-size: $fontsize-text-18px;
              font-weight: 500;
              text-decoration: none;

              transition: color 0.3s ease;
            }
            .header__nav-a:hover {
              color: $color-orange;
            }
          }
          .header__nav-li:last-of-type {
            margin-right: 0rem;

            padding: 10px 15px;
            border: 1px solid transparent; /* Set a transparent border */
            border-radius: 0px;
            border-image: linear-gradient(
                to right,
                $color-purple,
                $color-orange
              )
              1;
          }
        }
      }
    }
  }
</style>
