---

---

<section class="home">
  <div class="home__left">
    <h1 class="home__h1">
      Hi! I’m Alex Boczek. Full-stack Developer From Poland.
    </h1>
    <p class="home__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, sint
      labore soluta quidem minima nobis exercitationem dicta possimus, facere
      cupiditate magnam maiores nesciunt reprehenderit consequuntur sed numquam
      molestias. Consequatur, corrupti?
    </p>
    <div class="home__left-bottom-container">
      <button type="button" class="home__btn">Portfolio</button>
      <div class="home__contact-container">
        <a href="mailto:kontakt@alexboczek.pl" class="home__contact-email"
          >E-mail: kontakt@alexboczek.pl</a
        >
        <a href="tel:+48720432964" class="home__contact-phone"
          >Phone: +48 720-432-964</a
        >
      </div>
    </div>
  </div>
  <img class="home__right" src="/Alex_Boczek.webp" alt="Alex Boczek Photo" />
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  //   TODO: remember about this linear-gradient text trick
  h1 {
    font-size: $fontsize-h1-62px;
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home {
    max-width: 1170px;
    width: 100%;
    display: flex;

    .home__left {
      .home__text {
      }

      .home__left-bottom-container {
        display: flex;
        .home__btn {
        }

        .home__contact-container {
          display: flex;
          flex-direction: column;
          .home__contact-email {
          }

          .home__contact-phone {
          }
        }
      }
    }

    .home__right {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
</style>
