---

---

<section class="home">
  <h1>Hi! I’m Alex Boczek. Full-stack Developer From Poland.</h1>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  //   TODO: remember about this linear-gradient text trick
  h1 {
    font-size: $fontsize-h1-62px;
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
