---
const logosUrls = [
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
  {
    url: "/icons_section",
    alt: "JavaScript",
  },
];
---

<section class="logos">
  <h2>Logos section</h2>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .logos {
  }
</style>
