---
const logosUrls = [
  {
    url: "/icons_section/javascript.svg",
    alt: "JavaScript",
  },
  {
    url: "/icons_section/typescript.svg",
    alt: "TypeScript",
  },
  {
    url: "/icons_section/node.svg",
    alt: "Node.js",
  },
  {
    url: "/icons_section/react.svg",
    alt: "React",
  },
  {
    url: "/icons_section/astro.svg",
    alt: "Astro",
  },
  {
    url: "/icons_section/postgresql.svg",
    alt: "PostgreSQL",
  },
  {
    url: "/icons_section/html5.svg",
    alt: "HTML5",
  },
  {
    url: "/icons_section/css3.svg",
    alt: "CSS3",
  },
  {
    url: "/icons_section/sass.svg",
    alt: "SASS",
  },
  {
    url: "/icons_section/sql.svg",
    alt: "SQL DB",
  },
  {
    url: "/icons_section/netlify.svg",
    alt: "Netlify",
  },
  {
    url: "/icons_section/git.svg",
    alt: "Git",
  },
];
---

<section class="logos">
  {
    logosUrls.map((item) => (
      <img class="logos__img" src={item.url} alt={item.alt} />
    ))
  }
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .logos {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 0px;
    &__img {
      height: 40px;
      width: auto;
    }
  }
</style>
