---

---

<section class="portfolio">
  <div class="portfolio__heading-container">
    <h2 class="portfolio__h2">Portfolio</h2>
    <span class="portfolio__h2-undertext">Talk is cheap, show me the code.</span
    >
  </div>
  <div class="portfolio__container">
    <div class="portfolio__container-single">
      <img
        src="/Alex_Boczek.webp"
        alt="Portfolio Website Image"
        class="portfolio__container-img"
      />
      <div class="portfolio__container-content-container">
        <a class="portfolio__container-link" href="#"
          >www.somerandomwebsite.pl</a
        >
        <h3 class="portfolio__container-h3">
          Super amazing blazing fast web dev project
        </h3>
        <p class="portfolio__container-technologies">
          JavaScript, React, Node.js, Astro
        </p>
        <a class="portfolio__container-btn" href="#">Live Version</a>
        <a class="portfolio__container-btn" href="#">Check on GitHub</a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .portfolio {
    max-width: 1170px;
    width: 100%;
    margin-bottom: 9.375rem; // 150px
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 6.25rem; // 100px
      .portfolio__h2 {
        font-size: $fontsize-h1-62px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 75px;
      }

      .portfolio__h2-undertext {
        font-weight: 800;
        font-size: $fontsize-h2-34px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__container {
      &-single {
        .portfolio__container-img {
          width: 25rem; // 400px
          height: 18.75rem; // 300px;
        }

        .portfolio__container-content-container {
          width: 25rem; // 400px;
          height: 25rem; // 400px;
          background-color: $color-blue-medium;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 3.125rem; // 50px;

          .portfolio__container-link {
            font-size: $fontsize-portfolio-h3-25px;
            font-weight: 200;
            background: $main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
          }

          .portfolio__container-h3 {
            text-align: center;
          }

          .portfolio__container-technologies {
            color: $color-orange;
          }
        }
      }
    }
  }
</style>
