---

---

<section class="skills">
  <h1>skills</h1>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .skills {
    max-width: 1170px;
    width: 100%;
    background-color: pink;
  }
</style>
