---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/manrope";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="favicons/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Same header + navigation for all pages -->
    <Header />
    <!-- Add blur effect in Main section -->
    <img src="/blur/blur_hero.png" alt="blur effect" class="home__blur" />
    <main>
      <slot />
    </main>

    <!-- Same footer for all pages -->
    <Footer />
  </body>
</html>

<!-- GLOBAL STYLES GOES HERE -->
<style lang="scss" is:global>
  // Global CSS Reset
  @import "../styles/reset.scss";
  // SCSS Variables
  @import "../styles/variables.scss";

  body {
    background-color: $color-blue-dark;
    color: $color-white;
    font-family: "Manrope Variable", sans-serif;
    font-weight: 400;
    font-size: $fontsize-text-16px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;

    main {
      max-width: 1170px;
      width: 100%;
    }

    .home__blur {
      position: absolute;
      z-index: -1;
      height: 350rem;
    }
  }
</style>
